{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h2>Liste des membres :</h2>
        <table>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            {% for emprunteur in emprunteurs %}
            <tr>
                <td>{{ emprunteur.name }}</td>
                <td>
                    <a href="{% url 'update_emprunteur' emprunteur.id %}">Modifier</a> |
                    <a href="{% url 'delete_emprunteur' emprunteur.id %}">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </table>

        <div class="accesButton">
            <a href="{% url 'gestion' %}">
                <button type="button">Retour à la page de gestion</button>
            </a>
        </div>

</body>
</html>