{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Page connection</h1>

    <form method="post" action="{% url 'login_view' %}">
        {% csrf_token %}
        <label for="username">Nom d'utilisateur :</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password" required><br>
        <div id="connectionButton">
            <button  type="submit">Se connecter</button>
        </div>
    </form>

    {% if request.method == 'POST' and messages %}
        <ul>
            {%for message in messages %}
            <li class="message">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="accesButton">
        <a href="{% url 'index' %}">
            <button type="button">Retour accueil</button>
        </a>
    </div>
</body>
</html>